@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* font-family: "Poppins", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* font-family: "Victor Mono", monospace; */

body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

p {
  color: darkmagenta;
  font-size: 1.5rem;
  margin-bottom: 3px;
  margin-top: 3px;
}

h1 {
  font-size: 2rem;
  color: black;
  text-decoration: underline;
  margin-bottom: 10px;
}

em {
  color: blue;
  font-family: "Victor Mono", monospace;
  font-weight: bolder;
}

ol {
  font-size: 1rem;
  color: darkmagenta;
  list-style: none;
}

ol li {
  color: blue;
  margin-left: 20px;
  font-family: "Victor Mono", monospace;
}
